<div id="Restaurants Selection">
  <h5>Choose a menu item!</h5>
</div>

<div class="row">
  <% @restaurant.meals.each do |meal| %>
    <div class="col-md-4">
      <div class="card">
        <% if meal.image.present? %>
          <%= image_tag(meal.image , class: "card-img-top") %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= meal.name %></h5>
          <p class="card-text"><%= meal.price_format %></p>
        </div>
        <%= form_tag("/cart", method: :post) do %>
        <%= hidden_field_tag(:meal_id, meal.id) %>
        <input type="number" name="amount" placeholder="Quantity" min="1">
        <%= submit_tag("Add to Cart", class: "btn btn-dark") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>